/* assets/css/404.css */
/* Author: Maurice Vossen */
/* August 2021 */

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #D5D8CF;
    letter-spacing: 1px;
}


#message-404 {
    font-size: 20px;
    text-align: center;
    padding: 30px;
    color: #707070;
}


#message-404 > a {
    text-decoration: underline;
    color: #707070;
}


#message-404 > a:hover {
    color: #f04a64;
    transition: 1s;
}