/* assets/css/contact.css */
/* Author: Maurice Vossen */
/* August 2021 */


#content-index {
    text-align: left;
    margin: 0 auto;
    width: 50%;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 50px;
}


#contact-form-div {
    background-color: whitesmoke;
    box-sizing: border-box;
    padding: 50px 50px;
    border: 2px solid #f04a64;
    border-radius: 16px;
    width: 100%;
}


.contact-label {
    font-size: 18px;
    color: #707070;
    padding-top: 30px;
}


.contact-textbox {
    font-size: 18px;
    padding: 3px 0 3px 5px;
    width: 100%;
    margin-bottom: 8px;
    box-sizing: border-box;
}


.mandatory-astrisk {
    font-size: 16px;
    color: #f04a64;
}


#message {
    resize: none;
    width: 100%;
}


#form-button {
    color: whitesmoke;
    border: 1px solid #9C1228;
    border-radius: 6px;
    background-color: #f04a64;
    font-weight: 700;
    padding: 5px 10px;
    letter-spacing: 1px;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 20px;
}


#form-button:hover {
    background-color: #b33649;
    transition: 1s;
}


#sent-message {
    margin: 20px;
    font-size: 18px;
    color: #707070;
    text-align: center;
    width: 100%;
}


/* media queries for contact.html only */

/* for tablets and phones */
@media only screen and (max-width: 900px) { 

    #content-index {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }

}