/* assets/css/contact.css */
/* Author: Maurice Vossen */
/* August 2021 */




#content-index {
    text-align: left;
    padding: 50px 0;
    margin: 0 auto;
    width: 40%;
    box-sizing: border-box;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}


h2 {
    color: #707070;
    font-size: 24px;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

p {
    font-size: 18px;
    color: #707070;
    letter-spacing: 1px;
}

#active {
    border-top: 2px solid #f04a64;
} 


#active > a {
    color: #f04a64 !important;
} 


#contact-form-div {
    box-sizing: border-box;
    background-color: #D5D8CF;
    padding: 20px 30px 0 20px;
    border-radius: 20px;
}


.contact-label {
    font-size: 18px;
    color: #707070;
    padding-top: 30px;
}

.contact-textbox {
    font-size: 18px;
    padding: 3px 0 3px 5px;
    width: 100%;
    margin-bottom: 8px;
}

.mandatory-astrisk {
    font-size: 18px;
    color: #f04a64;
}

#message {
    resize: none;
    width: 100%;
}

#form-button {
    color: whitesmoke;
    padding: 3px 10px;
    font-size: 18px;
    border: 2px solid #9C1228;
    border-radius: 6px;
    background-color: #f04a64;
    margin-bottom: 20px;
}

#form-button:hover {
    background-color: #b33649;
    transition: 1s;
}

#sent-message {
    margin: 20px;
    font-size: 18px;
    color: #707070;
    text-align: center;
    width: 100%;
}



/* media queries for deck.html only */

/* for tablets and phones */
@media only screen and (max-width: 768px) { 

    #content-index {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }

}