/* assets/css/deck.css */
/* Author: Maurice Vossen */
/* August 2021 */

#content-index {
    text-align: center;
    clear: left;
    width: 100%;
    padding: 50px 0;
    background-color: red;
    margin: 0 auto;
}


#active {
    border-top: 2px solid #f04a64;
} 


#active > a {
    color: #f04a64 !important;
} 