/* assets/css/editor.css */
/* Author: Maurice Vossen */
/* August 2021 */


body {
    min-height: 100vh;
}


#content-editor-page {
    box-sizing: border-box;
}

#editor-div {

    width: 50%;
    margin: 0 auto;
    font-size: 32px;
    font-weight: 500;
    padding: 10px;
    margin-top: 20px;
    color: #707070;
}


#cards-summary-div, #cards-summary-buttons {
    margin: 50px auto;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
}

#cards-summary-buttons {
    margin: 20px auto;
    background-color: #707070;
    border-radius: 6px;
}

#deck-title {
    background-color: #707070;
    color: whitesmoke;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding: 6px;
    padding-left: 10px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
}

#cards-title-frontside {
    background-color: #959890;
    color: whitesmoke;
    box-sizing: border-box;
    width: calc(50% - 1px);
    float: left;
    padding: 6px;
    padding-left: 10px;
    margin: 2px 0;
    border-radius: 6px;
    cursor: pointer;
}

#cards-title-backside {
    background-color: #959890;
    color:whitesmoke;
    box-sizing: border-box;
    width: calc(50% - 1px);
    float: left;
    padding: 6px;
    padding-left: 10px;
    margin: 2px 0;
    margin-left: 2px;
    border-radius: 6px;
    cursor: pointer;
}


.card-frontside  {
    background-color: #D5D8CF;
    box-sizing: border-box;
    width: calc(50% - 1px);
    float: left;
    padding: 6px;
    padding-left: 10px;
    margin: 2px 0;
    border-radius: 6px;
    cursor: pointer;
    
}

.card-backside  {
    background-color: #D5D8CF;
    box-sizing: border-box;
    width: calc(50% - 1px);
    float: left;
    padding: 6px;
    padding-left: 10px;
    margin: 2px 0;
    margin-left: 2px;
    border-radius: 6px;
    cursor: pointer;
}



#export-deck, #read-button, #add-row, #new-button, #edit-card {
    margin-top: 5px;
    padding: 5px 10px;

}

#browse-button {
    background-color: whitesmoke;
    padding: 4px;
    border-radius: 8px;
}