/* assets/css/footer.css */
/* Author: Maurice Vossen */
/* August 2021 */

/* footer */
footer {
    float: left;
    text-align: center;
    width: 100%;
    background-color: #D5D8CF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#socials-follow {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #707070;
    letter-spacing: 1px;
}


.socials > a > i{
    text-decoration: none;
    font-size: 24px;
    margin: 0 20px;
    color: #707070;
}


.socials > a > i:hover {
    color: #f04a64;
    transition: 1s;
}

.footer-br {
    display: none;
}


#copyright {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #707070;
}



/* media queries for footer only */

/* for tablets and phones */
@media only screen and (max-width: 900px) {

    .footer-br {
        display: block;
    }

}