/* assets/css/header.css */
/* Author: Maurice Vossen */
/* August 2021 */

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header {
    padding: 20px;
    background-color: #D5D8CF;
    overflow: hidden;
}


#navbar-left {
    float: left;
    width: 320px;
    overflow: hidden;
    height: 110px;
}


#navbar-right {
    overflow: hidden;
    height: 100%;
    height: 110px;
}


#navbar-right > ul {
    float: right;
}


#navbar-right > ul > li {
   display: inline-block;
   font-size: 18px;
   margin: 0 10px;
}


#navbar-right > ul > li > a {
    text-decoration: none;
    color: #707070;
 }


 #navbar-right > ul > li > a:hover {
    color: #f04a64;
    transition: 1s;
 }


#navbar-toggle-button {
    float: right;
    display: none;
    font-size: 20px;
    padding: 3px 8px;
    text-align: center;
    color: whitesmoke;
    cursor: pointer;
    border: 1px solid #9C1228;
    border-radius: 3px;
    background-color: #f04a64;
}


#navbar-toggle-button:hover {
    background-color: #bb1932;
}


#toggle-menu, #toggle-menu > ul {
    display: none;
}


#toggle-menu > ul > li {
    font-size: 18px;
    display: block;
    padding: 6px 0;
    width: 100%;
    text-align: center;
    margin: 4px 0;
    background-color: #959890;
}

#toggle-menu > ul > li > a:hover {
    color: lightgray;
    transition: 1s;
}


#toggle-menu > ul > li > a {
    color: whitesmoke;
    text-decoration: none;
}


#active {
    border-top: 2px solid #f04a64
}


#active > a {
    color: #f04a64 !important;
} 


/* media queries for header.html only */

/* for tablets and phones */
@media only screen and (max-width: 900px) { 

    #navbar-left {
        width: 230px;
    }

    #iremember-logo > a > img {
        width: 220px;
    }

    #navbar-right > ul {
        display: none;
    }

    #toggle-menu, #toggle-menu > ul {
        display: block;
    }

    #navbar-toggle-button {
        display: block;
    }

    #active {
        border-top: 0;
    }
    
    #active > a {
        color: #f04a64 !important;
    } 

}

