/* assets/css/header.css */
/* Author: Maurice Vossen */
/* August 2021 */

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header {
    padding: 20px;
    background-color: #D5D8CF;
    overflow: hidden;
}


#navbar-left {
    float: left;
    width: 320px;
    overflow: hidden;
}

#navbar-right {
    overflow: hidden;
}


#navbar-right > ul {
    float: right;
}


#navbar-right > ul > li {
   display: inline-block;
   font-size: 18px;
   margin: 0 10px;
}


#navbar-right > ul > li > a {
    text-decoration: none;
    color: #707070;
 }

 #navbar-right > ul > li > a:hover {
    text-decoration: underline;
 }

 #navbar-toggle-button {
    float: right;
    display: none;
    font-size: 20px;
    padding: 6px 10px;
    text-align: center;
}


#toggle-menu {
    width: 100%;
    float: left;
    clear: right;
  
}

/* exists */
#toggle-menu > ul {
    width: auto;
    box-sizing: border-box;
}

/* exists */
#toggle-menu > ul > li {
    font-size: 20px;
    display: block;
    padding: 5px 15px;
    width: 100%;
    text-align: center;
    margin: 4px 0;
    background-color: #959890;
}

/* exists */
#toggle-menu > ul > li > a {
    color: whitesmoke;
    text-decoration: none;
}


#content-index {
    background-color: blue;
    text-align: center;
    float: left;
    clear: left;
    width: 100%;
}


/* media queries for deck.html only */

/* for tablets and phones */
@media only screen and (max-width: 900px) { 

    #navbar-right > ul {
        display: none;
    }

    #toggle-menu, #toggle-menu > ul {
        display: block;
    }

    #navbar-toggle-button {
        display: block;
    }

}