/* assets/css/index.css */
/* Author: Maurice Vossen */
/* August 2021 */


#content-index {
    text-align: left;
    padding: 50px 50px;
    border-radius: 18px;
    margin: 0 auto;
    width: 50%;
    background-color: whitesmoke;
    border: 2px solid #707070;
    box-sizing: border-box;
    margin-bottom: 50px;
}


p {
    padding-bottom: 20px;
    line-height: 30px;
}


p > a {
    text-decoration: none;
    color: #f04a64;
}


p > a:hover {
    text-decoration: underline;
}


/* media queries for index.html only */

/* for tablets and phones */
@media only screen and (max-width: 900px) { 


    #content-index {
        width: calc(100% - 20px);
        box-sizing: border-box;
        margin-left: 10px;
        margin-right: 10px;
        padding: 20px;
    }
    

}