/* assets/css/index.css */
/* Author: Maurice Vossen */
/* August 2021 */


body {
    background-color: #D5D8CF;
}

#content-index {
    text-align: left;
    padding: 50px 0;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 18px;
    margin: 0 auto;
    width: calc(50% + 100px);
    min-height: 80vh;
    background-color: whitesmoke;
    border: 2px solid #f04a64;
}


h2 {
    color: #707070;
    font-size: 24px;
    padding-bottom: 10px;
    letter-spacing: 1px;
}


p {
    font-size: 18px;
    color: #707070;
    letter-spacing: 1px;
}


#socials-follow {
    color: #707070;
}


/* media queries for index.html only */

/* for tablets and phones */
@media only screen and (max-width: 768px) { 

    #content-index {
        width: calc(100% - 20px);
        box-sizing: border-box;
        margin-left: 10px;
        margin-right: 10px;
        padding: 20px;
    }

}