/* assets/css/manual.css */
/* Author: Maurice Vossen */
/* August 2021 */

#content-index {
    text-align: left;
    padding: 50px 0;
    margin: 0 auto;
    width: 50%;
}


h2 {
    color: #707070;
    font-size: 24px;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

p {
    font-size: 16px;
    color: #707070;
    letter-spacing: 1px;
}

