/* assets/css/manual.css */
/* Author: Maurice Vossen */
/* August 2021 */


html {
    scroll-behavior: smooth;
    
}


#content-manual {
    text-align: left;
    border-radius: 18px;
    margin: 0 auto;
    width: 50%;
    background-color: whitesmoke;
    border: 2px solid #707070;
    padding: 50px 50px;
    box-sizing: border-box;
    margin-bottom: 50px;
}


h3 {
    color: #707070;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 20px;
}


p {
    padding-bottom: 20px;
    line-height: 30px;
}


a {
    font-size: 18px;
    text-decoration: none;
    color: #f04a64;
}


a:hover {
    text-decoration: underline;
}


p > a:hover {
    text-decoration: underline;
}


li {
    list-style-type: none;
    padding: 4px 0;
}

.manual-image {
    border: 1px solid #707070;
    width: 100%;
}

/* media queries for manual.html only */

/* for tablets and phones */
@media only screen and (max-width: 900px) { 


    #content-manual {
        width: calc(100% - 20px);
        box-sizing: border-box;
        margin-left: 10px;
        margin-right: 10px;
        padding: 20px;
    }

    
}

