/* style.css */
/* Author: Maurice Vossen */

/* set default settings */
* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #707070;
}

/* navbar */
nav {
   display: flex;
}

nav > div {
    box-sizing: border-box;
    padding: 30px;
    display: table-cell;
}

#navbar-left {

    background-color: #D5D8CF;
    display: table-cell;
    float: left;
    width: 400px;
}

#navbar-right {
    background-color: #D5D8CF;
    float: right;
    width: 100%;
}

#navbar-right > ul{
    float: right;
}

#navbar-right > ul > li {
    font-size: 18px;
    display: inline;
    padding: 0 15px;
}

#navbar-right > ul > li > a {
    text-decoration: none;
}

#navbar-right > ul > li > a:hover {
    text-decoration: underline;
}

/* navigation bar toggle button */
#navbar-toggle-button {
    float: right;
    visibility: hidden;
    width: auto;
    padding: 5px 10px;
    height: 30px;
}

/* toggle menu */
#toggle-menu {
    width: 100%;
    float: left;
    clear: right;
    visibility: hidden;
}

#toggle-menu > ul {
    width: auto;
    box-sizing: border-box;
    }

#toggle-menu > ul > li {
    font-size: 20px;
    display: block;
    padding: 4px 15px;
    width: 100%;
    text-align: center;
    margin: 4px;
    background-color: #959890;
    }

#toggle-menu > ul > li > a {
    color: whitesmoke;
    text-decoration: none;
    }

/* logo */
#iremember-logo {
    border: 0px solid #707070;
    width: 300px;
    height: 100px;
    object-fit: cover;
    }


/* footer */
    

/* media queries for deck.html only */

/* for small laptops */
@media only screen and (max-width: 992px) {

    #navbar-right > ul > li {
        font-size: 14px;
    }

    #navbar-left {
        width: 225px;
        background-color: #D5D8CF;
    }

    #iremember-logo > img {
        width: 175px;
    }    

}

/* for tablets and phones */
@media only screen and (max-width: 768px) {

    #navbar-right {
        background-color: #D5D8CF;
    }

    #navbar-right > ul {
        visibility: hidden;
    }

    #navbar-toggle-button {
        visibility: visible;
        position: absolute;
        right: 20px;
        top: 20px;
        
    }

    #toggle-menu {
        visibility: visible;
    }

}