/* assets/css/style.css */
/* Author: Maurice Vossen */
/* June 2021 */

/* set default settings */
* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #707070;
}

/* background color whole page */
body {
    background-color: #D5D8CF;
}

/* navbar */
/* exists */
nav {
   display: flex;
}

/* exists */
nav > div {
    box-sizing: border-box;
    padding: 30px;
    display: table-cell;
}

/* exists */
#navbar-left {
    display: table-cell;
    float: left;
    width: 400px;
}

/* exists */
#navbar-right {
    float: right;
    width: 100%;
}

/* exists */
#navbar-right > ul {
    float: right;
}

/* exists */
#navbar-right > ul > li {
    font-size: 18px;
    display: inline;
    padding: 0 12px;
}

/* exists */
#navbar-right > ul > li > a {
    text-decoration: none;
}

/* exists */
#navbar-right > ul > li > a:hover {
    text-decoration: underline;
}

/* toggle hamburger button */
/* exists */
#navbar-toggle-button {
    float: right;
    visibility: hidden;
    padding: 5px;
    width: 40px;
    overflow: auto;
}

.hamburger-div {
    border: 1px solid #707070;
    width: 60%;
    padding: 0;
    margin: 3px auto;
    overflow: auto;
}



/* toggle menu */
/* exists */
#toggle-menu {
    width: 100%;
    float: left;
    clear: right;
    visibility: hidden;
}

/* exists */
#toggle-menu > ul {
    width: auto;
    box-sizing: border-box;
}

/* exists */
#toggle-menu > ul > li {
    font-size: 20px;
    display: block;
    padding: 5px 15px;
    width: 100%;
    text-align: center;
    margin: 4px 0;
    background-color: #959890;
}

/* exists */
#toggle-menu > ul > li > a {
    color: whitesmoke;
    text-decoration: none;
}


/* logo */
/* exists */
#iremember-logo {
    border: 0px solid #707070;
    width: 300px;
    height: 100px;
    object-fit: cover;
}







/* main content - deck summary */
/* exists */


#my-decks {
    padding: 20px;
    width: 40%;
    min-width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    box-sizing: border-box;
    background-color: none;
}

#buttons-div {
    padding: 0 20px;
    width: 40%;
    margin: 0 auto;
    box-sizing: border-box;
}


.deck-field {
    display: inline-block;
    background-color: whitesmoke;
    margin: 5px 0;
    padding: 10px 5px;
    box-sizing: border-box;
    border-radius: 8px;

}

/* exists */ 
.deck-play, .deck-edit {
    text-align: center;
    width: 60px;
    cursor: pointer;
    background-color: #959890;
    color: whitesmoke;
}

.deck-play:hover, .deck-edit:hover {
    background-color: #f04a64;
    transition: 1s;
}

.deck-row {
    margin: 0;
    padding: 0;
}

/* exists */
.deck-descr {
    width: calc(100% - 140px);
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
}


/* main content - cards summary */
.cards-field {
    display: inline-block;
    background-color: whitesmoke;
    padding: 10px 5px;
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
}

.fa-play-circle, .fa-edit {
    font-size: 18px;
    color: white;
    font-weight: 100;
}


.deck-storage-number {
    box-sizing: border-box;
    padding: 10px 5px;
    padding-left: 10px;
    width: 100%;
    font-weight: 600;
    color: whitesmoke;
    background-color: #707070;
    border-radius: 8px;
    margin-bottom: 5px;
}
 
.deck-title {
    margin-bottom: 5px;
    padding: 10px 5px;
    box-sizing: border-box;
    width: 100%;
    font-weight: 600;
    color: whitesmoke;
    background-color: #707070;
}

.cards-title-front, .cards-title-back {
    padding: 10px 5px;
    box-sizing: border-box;
    width: calc((100% / 2) - 3px);
    font-weight: 600;
    color: whitesmoke;
    background-color: #959890;
}


.cards-front, .cards-back {
    margin-top: 5px;
    width: calc(((100% - 50px) / 2));
    padding-left: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.cards-delete {
    width: 30px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    background-color: lightgray;
    margin: 5px;
    padding: 10px 5px;
    border-radius: 8px;
}











#add-card-btn, #save-deck-btn, #close-deck-btn {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
}

#content-div {
    width: 100%;
    float: left;
    box-sizing: border-box;
}






/* footer */
/* exists */
footer {
    float: left;
    text-align: center;
    width: 100%;
}

/* exists */
#socials-follow {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
}

/* exists */
.socials {
    font-size: 24px;
    margin: 0 20px;
}

.socials > a > i:hover {
    color: #f04a64;
    transition: 1s;
}

.footer-br {
    display: none;
}


/* exists */
#copyright {
    font-size: 12px;
    letter-spacing: 1px;
    display: block;
    margin-top: 10px;
    margin-bottom: 30px;
}



/* media queries for deck.html only */

/* for small laptops */
@media only screen and (max-width: 992px) {

    #navbar-right > ul > li {
        font-size: 15px;
    }

    #navbar-left {
        width: 220px;
        background-color: #D5D8CF;
    }

    #iremember-logo > a > img {
        width: 175px;
    }    

}

/* for tablets and phones */
@media only screen and (max-width: 768px) {

    #navbar-right {
        background-color: #D5D8CF;
    }

    #navbar-right > ul {
        visibility: hidden;
    }

    #navbar-toggle-button {
        visibility: visible;
        position: absolute;
        right: 20px;
        top: 30px;
    }

    #toggle-menu {
        visibility: visible;
    }

    #my-decks {
        width: 100%;
    }

    .footer-br {
        display: block;
    }

}